body {
  margin: 0;
  background: #0f0f0f;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 780px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 25px;
  opacity: 0.8;
}

.input-section {
  margin-bottom: 30px;
}

.input-box {
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 12px;
  border: none;
  outline: none;
  resize: none;
  background: #1c1c1c;
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 1.1rem;
  background: #8256ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background: #9d75ff;
}

.playlist-box {
  margin-top: 35px;
  text-align: left;
}

.mood-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.mood {
  color: #a29bfe;
}

.song-list {
  display: grid;
  gap: 16px;
  margin-top: 20px;
}

.song-card {
  padding: 18px;
  border-radius: 12px;
  background: #1b1b1b;
  transition: 0.25s;
}

.song-card:hover {
  background: #242424;
}

.song-name {
  margin: 0;
  font-size: 1.3rem;
}

.artist-name {
  margin: 6px 0;
  opacity: 0.8;
}

.play-btn {
  display: inline-block;
  margin-top: 5px;
  color: #6c5ce7;
  font-weight: 600;
  text-decoration: none;
}
